---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/style.css";
const tis = "Holy shit";
let myJson;

await fetch("https://dummyjson.com/products/")
  .then((res) => res.json())

  .then((json) => {
    myJson = json.products;
    // console.log("myJson", myJson);
  });
---

<Layout title="HEJ DU">
  <main>
    <section>
      {myJson.map((element) => <Card title={element.title} img={element.images[0]} link={element.id} />)}
    </section>
  </main>
</Layout>
<style>
  main {
    display: flex;
    justify-content: center;
  }
  section {
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  * {
    padding: 0;
    margin: 0;
  }
</style>
